@charset "UTF-8";
body {
    background-color: rgb(36, 36, 36);
}
h3{
    font-family: 'Yuji Syuku', serif;
}

h1{
    font-size:4rem;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
header,h2{
    color:gold;
    font-family: 'Yuji Syuku', serif;

    display: flex;
    justify-content: space-around;
}
h2{
    font-size: 2.5rem;
}

hr{
    color: gold;
    border-width: 2px ;
    font-family:'Yuji Syuku', serif;
}

.return{
    position: fixed;
}

a{
    color:goldenrod;
}
.item{
    font-size: 24px;
    color: gold;
    margin : 10px;
    border: gold;
    font-family: 'Yuji Syuku', serif;
}
.container2{
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 200px 200px;
}
.item2{
    padding: 10px;
    margin: 10px;
}
.container3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 200px 200px;
}
.item3{
    padding: 10px;
    margin: 10px;
}
.item4{
    display: flex;
    justify-content: center;
    margin: 10px;
}
p{
    color: white;
    font-size: 20px;
    line-height: 1.7;
    font-family: serif;
    margin: 10px;
}
footer{
    background-color: gold;
}
.item9{
    font-family: 'Yuji Syuku', serif;
    color: antiquewhite;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.item10{
    color: antiquewhite;
    font-family: 'Yuji Syuku', serif;
    font-size: 1.2rem;
}
.container10{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;


}
